@import url("https://fonts.googleapis.com/css2?family=Cabin:wght@400;600&family=Libre+Baskerville&family=Nunito+Sans:wght@900&display=swap");

/*
Font themes
font-family: 'Cabin', sans-serif;
font-family: 'Libre Baskerville', serif;
font-family: 'Nunito Sans', sans-serif;

*/

:root {
  --color1: #132742;
  --color2: #DB1D4B;
  --color3: #FE6287;
  --color4: #F8E3A2;
  --color5: #FFFFFF;

  --bgColor: #0a192f;
  --textHead1: #08fdd8;
  --textHead2: #bb2acf;

  --gradiantBlue: rgba(3, 168, 244, 1);
  --gradiantGreen: rgba(98, 255, 59, 1);
  --black: rgb(24, 24, 24);
  --shadeBlue: rgba(52, 58, 64, 1);
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Libre Baskerville", serif;
}

.section {
  padding: 1rem 0 0 0;
  margin: 6rem 0 0 0;
  position: relative;
}

.heading {
  font-family: "Cabin", serif;
  font-weight: bold;
  text-align: center;
  font-size: 3rem;
  color: var(--color2);
}

/* ----Navbar css start---- */
.nav-transparent {
  background: transparent;
  box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.3);
  z-index: 100;
  transition: all 0.5s;
}

.nav-transparent a {
  color: white;
}

.nav-transparent.active {
  background: var(--color1);
  box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.3);
}

.nav-transparent.active a {
  color: var(--color4);
}

.nav-item {
  color: #ffffff;
}
/* ----Navbar css end---- */

/* ----Banner css start---- */
.banner {
  width: 100%;
  height: 100vh;
  background: url(../img/bg1.png);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  filter: blur(5px);
  -webkit-filter: blur(5px);
}

.banner-text {
  background-color: var(--color4);
  background-color: rgba(248, 227, 162, 0.4);
  color: var(--color1);
  font-weight: 900;
  border: 3px solid #f1f1f1;
  border-radius: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 0;
  width: 60%;
  padding: 2rem;
  text-align: center;
}

.banner-text h1 {
  font-size: 3rem;
  padding: 1rem 0;
}
/* ----Banner css end---- */

/* ----About css start---- */
.about-text p {
  font-size: 1.4rem;
  margin: 10%;
  text-align: justify;
}

figure {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  margin: 2rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

figure:hover {
  transform: scale(1.02);
}

figure img:hover {
  transform: scale(0.99);
}

figure img {
  border: 30px solid #fff;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
/* ----About css end---- */

/* ----project css start---- */

.card {
  width: 100%;
  height: 15rem;
  border: none;
  background-color: #fff;
  position: relative;
  display: flex;
  align-items: flex-start;
  box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
  transition: 0.5s ease-in-out;
}

.card::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(254, 98, 134, 0.6), rgba(19, 39, 66, 1));
  z-index: 2;
  transition: 0.5s all;
  opacity: 0;
}

.card:hover::before {
  opacity: 1;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.card .info {
  position: relative;
  z-index: 3;
  color: var(--color4);
  opacity: 0;
  transform: translateY(90px);
  transition: 0.5s all;
}

.card:hover .info {
  opacity: 1;
  transform: translateY(90px);
}

.card .info h1 {
  margin: 0;
}

.card .info p {
  letter-spacing: 1px;
  font-size: 15px;
  margin-top: 8px;
  margin-bottom: 20px;
}

.card .info .btn {
  text-decoration: none;
  padding: 0.5rem 1rem;
  background: var(--color5);
  color: var(--color1);
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.4s ease-in-out;
}

.card .info .btn:hover {
  box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);

}
/* ----project css end---- */

/* ----Testimonials css start---- */

.test-bg-img {
  width: 100%;
  height: 60vh;
  background: #000000 url(../img/bg.jpg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;

}

.test-bg-color {
  width: 100%;
  height: 60vh;
  background-color: rgba(219, 29, 76, 0.8);
}

/* ----Testimonials css end---- */

/* ----Footer css start---- */
footer {
  background-color: var(--color1);
  width: 100%;
}

footer p {
  padding: 0;
  margin: 0;
  color: #fff;
  text-align: center;
  font-size: 1rem;
}
/* ----Footer css end---- */

/* ----Contact.html css starts---- */

.flex-props {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 60%;
  font-size: 1.2rem;
}

/* ----Contact.html css end---- */

/* media queries */
@media (max-width: 576px) {
  .some-space {
    margin-top: 3rem;
  }

  figure {
    border-radius: none;
    margin: 2rem;
  }

  figure img {
    border: 10px solid #fff;
  }

  .badge {
    margin: 0;
  }
  
  .btn-text {
    font-size: 0.8rem;
  }
}

@media (max-width: 991px) {
  .nav-transparent {
    background: var(--color1);
    box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.3);
  }

  .nav-transparent a {
    color: var(--color4);
  }

  .heading {
    font-size: 2.5rem;
  }

  .banner-text {
    width: 80%;
  }

  .banner-text h1 {
    font-size: 1.5rem;
  }

  .banner-text h3 {
    font-size: 1rem;
  }

  .about-text p {
    font-size: 1rem;
  }

  .githubStats h4 {
    font-size: 1.2rem;
  }
}
